<script>
	export let signIn = { 
        account: '', 
        password: '',
        encrypt: '',
        validation: {
            error: '',
        },
    };

    let is_sign_in_process = false;

    function handleKeyboard(e) {
        if (e.keyCode == 13) {
            handleSignIn();
        }
    }

    function handleSignIn() {
        if (is_sign_in_process) {
            return;
        }

        signIn.validation.error = '';

        if (signIn.account.trim() == '') {
            signIn.validation.error = 'Required email address';
            return ;
        } else {
            if (!signIn.account.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                signIn.validation.error = 'Please enter a valid email true';
                return ;
            }
        }

        if (signIn.password.trim() == '') {
            signIn.validation.error = 'Required password';
            return ;
        }

        is_sign_in_process = true;

        axios
            .post('/user/auth/sign-in', {
                account: signIn.account,
                password: signIn.password,
            })
            .then(response => {
                is_sign_in_process = false;

                if (typeof response.data != 'undefined') {
                    if (response.data.Status == 'success') {
                        location.href = "/index";
                    } else {
                        let msg = null

                        if (typeof response.data.error != 'undefined') {
                            let error_data = response.data.error;
                            if (error_data.code > 0) {
                                msg = error_data.message;
                            } else { 
                                msg = error_data.message[Object.keys(error_data.message)[0]][0];
                            }
                        } else {
                            if (typeof response.data.Message != 'undefined') {
                                msg = response.data.Message
                            } else {
                                msg = "系統出現異常，請稍後再試！"
                            }
                        }

                        signIn.validation.error = msg
                    }
                }
            })
            .catch(function(error) { 
                is_sign_in_process = false;
                // console.log(error.response);
            });
    }
</script>

<main>
    <div class="p-4">
        <table class="table">
            <tr><td class="text-light bg-dark text-center text-title" colspan="2">會員登入1</td></tr>
            <tr>
                <td class="text-right w-25">帳號：</td>
                <td class="w-75"><input type="email" bind:value={signIn.account} placeholder="請輸入Email" on:keypress={handleKeyboard}></td>
            </tr>
            <tr>
                <td class="text-right w-25">密碼：</td>
                <td class="w-75"><input type="password" bind:value={signIn.password} placeholder="請輸入密碼" on:keypress={handleKeyboard}></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <div class="text-danger p-3">{signIn.validation.error}</div>
                    <button type="button" class="btn btn-success" on:click={() => handleSignIn()}>登入</button>
                </td>
            </tr>
        </table>
    </div>
</main>
 
<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

    .text-title {
        font-size:16px;
    }

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>