<script>
    export let signUp = {  
        account: '', 
        password: '',
        password_confirmation: '',
        encrypt: '',
        encrypt_confirmation: '',
        validation: {
            error: '',
        }
    }

    let child;
    let is_sign_up_process = false;
 
 
    function handleSignUp() {
        if (is_sign_up_process) {
            return;
        }

        signUp.validation.error = '';

        if (signUp.account.trim() == '') {
            signUp.validation.error = 'Required email address';
            return ;
        } else {
            if (!signUp.account.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                signUp.validation.error = 'Please enter a valid email true';
                return ;
            }
        }

        if (signUp.password.trim() == '') {
            signUp.validation.error = 'Required password';
            return ;
        }

        if (signUp.password_confirmation.trim() == '') {
            signUp.validation.error = 'Required password_confirmation';
            return ;
        }

        is_sign_up_process = true;

        axios
            .post('/user/auth/sign-up', {
                email: signUp.account, 
                password: signUp.password,
                password_confirmation: signUp.password_confirmation,
            })
            .then(response => {
                is_sign_up_process = false;

                if (typeof response.data != 'undefined') {
                    if (response.data.Status == 'success') {
                        location.href = "/index";
                    } else {
                        let msg = null

                        if (typeof response.data.error != 'undefined') {
                            let error_data = response.data.error;
                            if (error_data.code > 0) {
                                msg = error_data.message;
                            } else { 
                                msg = error_data.message[Object.keys(error_data.message)[0]][0];
                            }
                        } else {
                            if (typeof response.data.Message != 'undefined') {
                                msg = response.data.Message
                            } else {
                                msg = "系統出現異常，請稍後再試！"
                            }
                        }

                        signUp.validation.error = msg
                    }
                }
            })
            .catch(function(error) {
                is_sign_up_process = false;
                child.handleCreateNotification('請稍候再試，謝謝', 'danger', 3000); 
            });
    }
</script>

<main>
    <div class="p-4">
        <table class="table">
            <tr><td class="text-light bg-dark text-center text-title" colspan="2">會員註冊1</td></tr>
            <tr>
                <td class="text-right w-25">帳號：</td>
                <td class="w-75"><input type="email" bind:value={signUp.account} placeholder="請輸入Email"></td>
            </tr>
            <tr>
                <td class="text-right w-25">密碼：</td>
                <td class="w-75"><input type="password" bind:value={signUp.password} placeholder="請輸入密碼"></td>
            </tr>
            <tr>
                <td class="text-right w-25">確認密碼：</td>
                <td class="w-75"><input type="password" bind:value={signUp.password_confirmation} placeholder="再確認一次密碼"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <div class="text-danger p-3">{signUp.validation.error}</div>
                    <button type="button" class="btn btn-success" on:click={() => handleSignUp()}>註冊</button>
                </td>
            </tr>
        </table>
    </div>
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
    }

    .text-title {
        font-size:18px;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>